body{
	background-color:#eeeeee;
	font-size:75%;
}
#mainBody {
	font-family:serif;
	font-size:1.4em;
	margin:auto;
	width: 100%;
	text-align:center;
	position: relative;
}
p{
	width:85%;
	margin:auto;
	margin-top:1%;
}
sup{
	font-size:.5em;
}
#descriptionText{
	width:85%;
	margin:auto;
	margin-top:1%;
	border: 1px solid black;
	padding:2%;
	background-color:white;
}
#drinksDisplay{
	width:90%;
	margin-left: 2%;
	margin-right: 2%;
	border: 1px solid black;
	padding:2%;
	background-color:#ffffdd;
	vertical-align:top;
}
#foodDisplay{
	width:90%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top:2%;
	border: 1px solid black;
	padding:2%;
	background-color:#ffffdd;
	vertical-align:top;
}
h1 {
	font-variant:small-caps;
}
h2 {
	font-variant:small-caps;
}
#header{
	width:100%;
	background-color:#d90606;
	text-align:center;
	top:0;
	left:0;
}
#fbt{
	width:75px;
	border:0;
}
#headImage{
	width:15vh;
	border:0;
}
#navigation{
	width: 100%;
	background-color:black;
	padding-bottom:1%;
	padding-top:1%;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
    z-index: 100;
	top:0;
	left:0;
}
#versionMarker{
	font-size:.75em;
	position:absolute;
	top:15px;
	left:15px;
}
#adventureBox{
	width:90%;
	display:inline-block;
	margin-bottom:1%;
	padding:5%;
}
#boastBox{
	font-family:sans-serif;
	font-size:.8em;
	line-height:125%;
	display:inline-block;
	border-top:3px solid black;
	border-bottom:3px solid black;
	width:85%;
	padding:5px;
	margin:20px;
	background-color:#e0e5c1;
}
button {
	font-family: serif;
	font-variant: small-caps;
	font-weight: 1000;
	font-size: 1.1em;
	padding: 6px;
	margin: 10px;
}
#wideBox{
	height:500px;
	display:inline-block;
}
#navButton{
	width:23%;
	border:0;
	margin-left:1%;
	margin-right:1%;
}
@media screen and (min-width: 1200px){
	#mainBody{
		font-size:1.6em;
		width:90%;
	}
	#boastBox{
		width:35%;
	}
	#drinksDisplay{
		width:40%;
	}
	#foodDisplay{
		width:40%;
		margin-top:0;
	}
	button {
		font-size: 1.2em;
	}
	#headImage{
		width:150px;
	}
	#navButton{
		width:200px;
	}
	#adventureBox{
		width:35%;
	}
}